@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

body {
  background-color: #00adb5;
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
  background-color: #222831;
  color: white;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid black;
  margin: 1rem 0.5rem;
}

button:hover {
  font-size: 1.1rem;
  background: #393e46;
}

ul {
  padding-inline-start: 0px;
}

li {
  display: flex;
  list-style: none;
  padding: 1rem;
  border: 1px solid black;
  width: 90%;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
  background-color: #eeeeee;
}

.div-flex {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
}
.div-img {
  text-align: center;
}

.div-name {
  font-size: 1.5rem;
}

.div-singer {
  font-size: 0.9rem;
}
