@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

body {
  background-color: #d1fae5;
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
  background: #fbbf24;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid black;
  margin: 1rem 0.5rem;
}

button:hover {
  font-size: 1.1rem;
  background: #fde68a;
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style: none;
  padding: 1rem;
  border: 1px solid black;
  width: 70%;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.div-name {
  font-size: 1.5rem;
}

.div-singer {
  font-size: 0.9rem;
}
